<div class="fc-page-container">
  <h2 class="fc-title">{{ title }}</h2>

  <div class="fc-content">
    <p>If you have any questions or would like to inquire about wholesale prices please to reach out to us.</p> 
    <a href="mailto:Redwoodcrystals@gmail.com">Redwoodcrystals@gmail.com</a>

  </div>

</div>