---
title: Redwood Crystals - Privacy Policy

---

<div class="policy-page-container">

<div class="policy-container">

<h2 class="policy-name">Privacy Policy</h2>
<p class="policy-content">Your information is safe with us! We only use your contact information and address to ship you your products.  We will not sell or use your information in any other way. Credit Card processing is handled by a trusted third party called Stripe. We do not have access to your Credit Card information other than what is provided by Stripe. </p>

</div>


</div>